.HearderWrapper {
  box-shadow: 1px -6px 4px 9px #ccc;
  border: 1px solid #ccc;
  padding: 0 15px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
}

.navbar-brand {
  padding: 0 !important;
}

.HDLleft {
  display: flex;
  align-items: center;
}

.navTitle {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.btn-aut {
  padding: 5px 10px;
  outline: none;
  border-radius: 6px;
  color: black;
  font-size: 1rem;
  border: 1px solid #666;
  font-weight: 500;
}

.iconSSBL {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.showSBL {
  margin-bottom: 4px;
  display: none;
}
